<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>

function fetch_imdb_info_for_tobe_rated(){
	$(".movies_tobe_rated" ).each(function( index ) {
		console.log(this.id);
		var imdb_id = this.id;
		$.ajax({
		  dataType: "json",
		  url: "http://www.omdbapi.com/",
		  data: {i: imdb_id, plot: "json", r: "json"},
		  success: function(data){
		  		var element = "#"+data.imdbID;
				$(element).find("#for_rating_title").html("Title: " + data.Title);
				$(element).find("#for_rating_plot").html("Plot: " + data.Plot);
				$(element).find("#for_rating_actors").html("Actors: " + data.Actors);				
				$(element).find("#for_rating_genre").html("Genre: " + data.Genre);								
				$(element).find("#tobe_rated").attr("thumb", data.Poster);				
				$(element).find("#tobe_rated").prepend('<img id="theImg" src="'+ data.imdbID +'.jpg" style="width:120px;"/>');
				element = "#list_"+data.imdbID;
				$(element).attr("value", data.Title);				
				$(element).html(data.Title);				
			}
		});
	});	
}

var one_true = false;

$.fn.randomize = function(selector){
    var $elems = selector ? $(this).find(selector) : $(this).children(),
        $parents = $elems.parent();

    $parents.each(function(){
        $(this).children(selector).sort(function(){
            return Math.round(Math.random()) - 0.5;
        // }). remove().appendTo(this); // 2014-05-24: Removed `random` but leaving for reference. See notes under 'ANOTHER EDIT'
        }).detach().appendTo(this);
    });

    return this;
};

$( document ).ready(function() {

	$('#ratings_form').on('valid.bs.validator', function (e) {     		 		
	  console.log($(e.relatedTarget).attr("name"));
	});

   	var jsonObj  = [];
   	var missing_answer = false;
    fetch_imdb_info_for_tobe_rated();

    $(".stars").each(function(index){
    	$(this).rating('create',{limit:5});	
    });

    $("#movies_button").click(function() {
    	<%if @action_id == 2%>	
    		var url = '<%= thank_you_path%>';
    	<%else%>
    		var url = '<%= post_preferences_path%>';
    	<%end%>
    	jsonObj = [];
    	missing_answer = false;
		var form = $('<form action="' + url + '" method="post">' + '</form>');
		var input = $("<input>")
                .attr("type", "hidden")
                .attr("name", "authenticity_token").val("<%= form_authenticity_token() %>");
        $(form).append($(input));      
    	$(".movies_tobe_rated" ).each(function( index ) {
    		var imdb_id = this.id;
    		var element = "#"+imdb_id;    		    		
            item = {}
	        item [imdb_id] = $(element).find(".stars").attr('data-rating');
	        jsonObj.push(item);
	        if (item [imdb_id] == 0){
	        	missing_answer = true;
	        }
    	});
		console.log(jsonObj);
		var input = $("<input>")
               .attr("type", "hidden")
               .attr("name", "ratings").val(JSON.stringify(jsonObj));
        $(form).append($(input));
        
        jsonPreferencesObj = [];
        all_selected = false;
 		if ($('#sortable2 li').length == 6)
 		{
    		all_selected = true;    		
    	}
    	if (all_selected){
    		console.log("going to submit form");
    		$('#sortable2 li').each(function( index ) {	
    			if (this.id != ""){
    				jsonPreferencesObj.push(this.id);
    			}		        
	    	});
	    	console.log(jsonPreferencesObj);
			var input_2 = $("<input>")
	               .attr("type", "hidden")
	               .attr("name", "movie_preferences").val(JSON.stringify(jsonPreferencesObj));
	        $(form).append($(input_2));
    	}
    	
    	if (missing_answer){
        	$('#myModal').modal('show');
        }
        else if (!all_selected){
        	$('#myModal1').modal('show');
        }
        else{
        	form.submit();		
        }

	});

	$('#sortable1').randomize();

	  $(".draggable").draggable({
	          appendTo: "body",
	          helper: "clone",
	          start  : function(event, ui){
	              $(ui.helper).addClass("col-md-3");
	          }
	      });
	      
	      $("#sortable2").droppable({
	            activeClass: "ui-state-default",
	            hoverClass: "ui-state-hover",
	            accept: ":not(.ui-sortable-helper)",
	            drop: function( event, ui ) {
	                $( this ).find( ".placeholder" ).hide();
	                $(ui.draggable).clone().appendTo(this);                
	                $(ui.draggable).remove(); //remove from list
	            }
	        }).sortable({
	            items: "li:not(.placeholder)",
	            sort: function() {
	                $( this ).removeClass( "ui-state-default" );
	            }
	        });
	
});

</script>
<style>
#content {
    background-color: #C8C6C6;
	color: #000;
}
.form-control {
    color: #000;
    background-color: #FFF;   
}
.container_padding{
	padding-top: 0px;
}
  .handpointer {
 		cursor: hand; 
 		cursor: pointer;
 	}
  .left, .right{  
    width:400px;    
  } 
  .list-item{
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
    background:#fff;    
    height:40px;
    line-height:40px;
    font-size:15px;
    font-weight:700;
    list-style-type:none; 
    background:#eee;
    padding:5px;
    cursor:pointer;
    margin-bottom:5px;
    position:relative;   
  } 
  .list-item span{  
    padding:0 10px;
    background:#ee2e24;
    display:block;    
    height:40px;
    line-height:40px;  
  }
  .right .list-item{
    height:40px;
    line-height:40px;
    background:#fff;
    cursor:inherit;    
  } 
  .right .list-item span{
    background:#fff;
    color:#ee2e24;    
    height:40px;
    line-height:60px;    
  }
  .placeholder{
    background:none;
    color:#888;
    cursor:default;
    margin-bottom:0 !important;
    text-align:center;
    border:1px solid #ccc !important;
  }
  .ui-helper {
      width: 100% !important;
  }
</style>

<%if true%>
	<div class="alert alert-dismissible alert-success" style="font-size: 20px;">
		<%=@action_id%>. Please rate the following movies on a scale from 1 to 5 stars. Go through the plot and the genre of the movie to understand what it is about.
	</div>
	
	<%@movies.each do |movie|%>
	<div class="row movies_tobe_rated" style="border-top: 1px solid #000;" id="<%=movie.imdb_id%>">
	   <div class="col-sm-12" style="margin-top:10px;">
		<div class="col-sm-12" style="margin-top:10px;">
			<div class="col-sm-2" style="margin-top:10px;">
				<div id="tobe_rated" class="tobe_rated" thumb=""></div>
			</div>
			<div class="col-sm-10" style="margin-top:10px; font-size:130%; color: black;">
				<div id="for_rating_title">
					Title:
				</div>
				<p id="for_rating_plot">
					Plot: 
				</p>
				<p id="for_rating_actors">
					Actors: 
				</p>
				<p id="for_rating_genre">
					Genre: 
				</p>
				<div id="for_rating_rating" class="form-group">
					Provide a high star rating if you would prefer to watch this movie now else a low star rating: <div id="stars-default" class="stars" style="font-size:10px;"><input type=hidden name"rating" required/></div>
					<div class="help-block with-errors"></div>
				</div>
			</div>
	    </div>		 
	  </div>	  
	</div>
	<%end%>	
	
		<div class="alert alert-dismissible alert-success" style="font-size: 20px;">
			 Please rank the movies based on your preferences.
		</div>
		
		<p class="col-md-10">( Drag movies from the <strong>list of Movies</strong> to the <strong>Preferences</strong>. )</p>
		<div class="row movies_tobe_ranked">
		<div style="border=1px solid; display: inline-block" class="col-md-2">
		</div>
	  <div class="col-md-6 left">
      <div class="list-group-item active">Movies</div>
			<ul id="sortable1" class="list-group">				
			  	<%@movies.each do |movie|%>
			  		<li class="ui-state-default list-item handpointer draggable" id="list_<%=movie.imdb_id%>">Comedy<input type='hidden' name='movie_preferences[]' value=''/></li>
			  	<%end%>			  	
			</ul>
		</div>
		<div style="border=1px solid; display: inline-block; height:270px;" class="col-md-6 right">
      <div class="list-group-item active">Your preferences</div>
			<ul id="sortable2" class="list-group">			  
        	<li class="list-item placeholder">(drag here in your prefered order)</li>
			</ul>
		</div>
	</div>
	<div class="row" style="margin-top:10px;">
		<button class="btn btn-primary btn-lg pull-right" id="movies_button" style="width: 100%;">Next</button>		
	</div>
<%end%>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Please rate all the movies.</h4>
      </div>
      <div class="modal-body">
        We would appreciate if you can rate all the movies by considering preferences. Thank you!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Please rank all the movies.</h4>
      </div>
      <div class="modal-body">
        We would appreciate if you can rank all the movies by considering your preferences. Thank you!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
      </div>
    </div>
  </div>
</div>