<script>
$( document ).ready(function() {
   	
    $("#description_button").click(function() {    	
    	var url = '<%= story_description_path%>';
    	
		var form = $('<form action="' + url + '" method="post">' + '</form>');
		var input = $("<input>")
                .attr("type", "hidden")
                .attr("name", "authenticity_token").val("<%= form_authenticity_token() %>");
        $(form).append($(input));          	
		form.submit();
	});

	
});
</script>

<%if !@story.nil?%>

<div class="alert alert-dismissible alert-success" style="font-size: 20px;">
	1. Please read the following short story and press "next" at the bottom of this page.
</div>

<div class="jumbotron">
	<h2><%=@story.title%></h2>
	<p><%=@story.description.html_safe%></p>
</div>

<button id="description_button" class="btn btn-primary btn-lg pull-right" style="width: 100%;" href="<%= movies_path%>">Next</button>

<%else%>
<h1>NOT FOUND</h1>
<%end%>
